html,
body {
	margin: 0;
	padding: 0;
}

body {
	background-image: url('img/pattern-2.jpg');
	background-size: 796px 500px;
	font-size: 1.2em;
	line-height: 1.4;
}

h1, h2, h3 {
	text-align: center;
}

.big {
	font-size: 110%;
}

.small {
	font-size: 90%;
}

.main {
	width: 800px;
	padding: 20px;
	margin: 30px auto;
	background: url('img/pattern-4.png');
	background-size: 40px;
	border-bottom: 10px solid black;
	border-top: 10px solid black;
	border-image: url('img/rainbow-border.gif') 50 round;
}

.logo {
	display: block;
	width: 180px;
	margin: 0 auto;
}

.logotype {
	display: block;
	margin: 20px auto 0;
	width: 400px;
}

.tagline {
	width: 600px;
	margin: 20px auto;
	display: block;
	border: 1px solid #afafaf;
}

.nav {
	margin: 20px auto;
	text-align: center;
}

.button {
	width: 100px;
	height: 32px;
	background-position: center top;
	background-size: 100%;
	text-indent: -9000px;
	display: inline-block;
	margin: 0 5px;
}

.button:hover {
	background-position: center bottom;
}

.button a {
	display: block;
	width: 100%;
	height: 100%;
}

.button-about {
	background-image: url('img/button-about.png');
}

.button-values {
	background-image: url('img/button-values.png');
	width: 130px;
}

.button-location {
	background-image: url('img/button-location.png');
	width: 159px;
}

.button-tickets {
	background-image: url('img/button-tickets.png');
}

.button-faq {
	background-image: url('img/button-faq.png');
}

.container {
	margin: 0 auto;
	width: 600px;
}

.welcome {
	width: 400px;
	display: block;
	margin: 20px auto 0;
}

.globe {
	display: block;
	margin: 20px auto;
	width: 150px;
}

.bus {
	width: 150px;
	margin-right: 10px;
	margin-top: 15px;
}

.tickets {
	display: block;
	margin: 0 auto;
	width: 150px;
}

.brain {
	display: block;
	margin: 20px auto;
	width: 200px;
}

.under-construction {
	display: block;
	margin: 20px auto;
}

.hit-counter {
	text-align: center;
}

.ie {
	width: 100px;
	margin: 20px auto 0;
	display: block;
}

.container-values {
	width: 740px;
}

.values {
	text-align: center;
	display: block;
	margin: 0 auto;
	width: 720px;
}

.values td {
	width: 360px;
	padding-right: 25px;
	padding-left: 25px;
}

.values-title {
	font-weight: bold;
	font-size: 110%;
}

.values img {
	height: 50px;
	display: block;
	margin: 0 auto 20px;
}

img.values-friends {
	position: relative;
	top: 10px;
}

img.values-heart {
	position: relative;
	top: 5px;
}

.organizers {
	display: block;
	margin: 0 auto;
}

.peacenik {
	color: grey;
}


/* Windows 95 scrollbars */
*, *::after, *::before {
  box-sizing: border-box;
}
.frame {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid #c3c7cb;
  border-bottom: 1px solid #c3c7cb;
  box-shadow: -1px -1px 0 #868a8e, -1px 0 0 #868a8e, 0 -1px 0 0 #868a8e, 1px 0 0 white, 1px 1px 0 white, 0 1px 0 white;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin-bottom: 8px;
  padding: 8px;
}
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
::-webkit-scrollbar-track {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAIAAAD91JpzAAAAFElEQVQIW2M4fPz0////GYAYyAIASnoKpV3w4kgAAAAASUVORK5CYII=');
  image-rendering: pixelated;
}
::-webkit-scrollbar-track:active {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAIAAAD91JpzAAAAEElEQVQIW2No6+pjgAAgCwAWogM9VKrgGQAAAABJRU5ErkJggg==');
}
::-webkit-scrollbar-thumb {
  border-top: 1px solid #c3c7cb;
  border-left: 1px solid #c3c7cb;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: inset 1px 1px 0 0 white, inset -1px -1px 0 0 #868a8e;
  width: 16px;
  height: 16px;
  background-color: #c3c7cb;
  z-index: 1;
}
::-webkit-scrollbar-corner {
  background-color: #c3c7cb;
}
::-webkit-resizer {
  width: 16px;
  height: 16px;
  background-color: #c3c7cb;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAN0lEQVR4Ae3MgQUAMBRDwU5fFF05lb/CARTBw2Ulof0DxPtcwp3hNuEYnjbcEW4TjuFpwx3h9gMWGgZ2Y/PT2gAAAABJRU5ErkJggg==');
  background-position: bottom right;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}
::-webkit-scrollbar-button, ::-webkit-scrollbar-button {
  border-top: 1px solid #c3c7cb;
  border-left: 1px solid #c3c7cb;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: inset 1px 1px 0 0 white, inset -1px -1px 0 0 #868a8e;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #c3c7cb;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-position: center center;
}
::-webkit-scrollbar-button:active, ::-webkit-scrollbar-button:active {
  background-position: 2px 2px;
}
::-webkit-scrollbar-button:horizontal:decrement, ::-webkit-scrollbar-button:horizontal:decrement {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAHklEQVQY02NgoBT8xyX8H5fwf1zCpOjAYwceV1EEAAO2D/HsQ4vsAAAAAElFTkSuQmCC');
}
::-webkit-scrollbar-button:horizontal:increment, ::-webkit-scrollbar-button:horizontal:increment {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAHUlEQVQY02NgIB/8xy3xH7fEf9wS/0nUQZqrKAYAK44P8ZRmzLQAAAAASUVORK5CYII=');
}
::-webkit-scrollbar-button:vertical:decrement, ::-webkit-scrollbar-button:vertical:decrement {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGklEQVR4AWMYxuA/SYphmETFhDX9x4mHGQAAcL4P8dQiMq8AAAAASUVORK5CYII=');
}
::-webkit-scrollbar-button:vertical:increment, ::-webkit-scrollbar-button:vertical:increment {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAF0lEQVQY02NgoBf4jwJxSOHQhcNAOgMAWWAP8Rv2U3UAAAAASUVORK5CYII=');
}
::-webkit-scrollbar-button:horizontal:increment:start, ::-webkit-scrollbar-button:horizontal:increment:start {
  display: none;
}
::-webkit-scrollbar-button:horizontal:decrement:end, ::-webkit-scrollbar-button:horizontal:decrement:end {
  display: none;
}
::-webkit-scrollbar-button:vertical:increment:start, ::-webkit-scrollbar-button:vertical:increment:start {
  display: none;
}
::-webkit-scrollbar-button:vertical:decrement:end, ::-webkit-scrollbar-button:vertical:decrement:end {
  display: none;
}
::-webkit-scrollbar-button:active, ::-webkit-scrollbar-button:active {
  border-top: 1px solid #868a8e;
  border-left: 1px solid #868a8e;
  border-bottom: 1px solid #868a8e;
  border-right: 1px solid #868a8e;
  box-shadow: none;
}
